@import 'variables';
#header {
    //background-color: #a0c209a8;
    background-color: rgba(0, 118, 206, 0.8);
    // background-color: rgb(82, 113, 255, );
    // background: url('/img/slider_1.jpg') top center /cover no-repeat;
    line-height: auto;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    a {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
    }
    .navbar-nav li a:hover {
        color: rgb(4, 4, 54);
    }
    .dropdown-menu {
        background-color: rgba(0, 118, 206, 0.8)
    }
    #logo {}
}

// add class general for all
.margin-top {
    margin-top: 150px;
}

P {
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
}


/* -------------------------home-----------------------------------------------------------*/

.slide {
    position: relative;
    margin-top: 113px;
    padding-top: 50%;
    width: 100%;
    background: url('/img/slider_1.jpg') top center /cover no-repeat;
    #text-content {
        position: absolute;
        bottom: 50px;
        color: rgb(8, 8, 88);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .text-heading {
            font-size: 35px;
            font-weight: 500;
        }
        .text-description {
            font-size: 25px;
        }
    }
}

// content in home
#content {
    .content-section {}
    .section-heading {
        font-size: 35px;
        font-weight: 500;
        text-align: center;
    }
    .section-heading-sub {
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        font-style: italic;
        opacity: 0.9;
    }
    .text {
        font-size: 20px;
        text-align: justify;
        line-height: 1.6;
    }
}

//show description 
.destination-item {}

.destination-img {
    width: 350px;
    height: 240px;
    transition: transform .8s;
}

.destination-img:hover {
    transform: scale(1.035);
}

.destination-body {
    padding: 16px;
    font-size: 15px;
    a {
        text-decoration: none;
    }
}


/* -------------------------provinces-----------------------------------------------------------*/


/*index province */

// tab ui show provineces
.tabs {
    display: flex;
    position: relative;
    .tab-item {
        min-width: 80px;
        padding: 16px 20px 11px 20px;
        font-size: 20px;
        text-align: center;
        color: blue;
        background-color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 5px solid transparent;
        opacity: 0.6;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    .line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 6px;
        border-radius: 15px;
        background-color: rgb(34, 6, 156);
        transition: all 0.2s ease;
    }
    .tab-item:hover {
        opacity: 1;
        background-color: rgba(33, 12, 153, 0.05);
        border-color: rgba(37, 9, 163, 0.1);
    }
}

.tab-content {
    a {
        text-decoration: none;
    }
    .tab-pane {
        color: #333;
        display: none;
    }
    .tab-pane.active {
        display: block;
    }
    .tab-pane h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }
}