<div class="container margin-top">

    <h3 class="text-center">
        Cập nhật thông tin khu vực
    </h3>

</div>
<div class="container">

    <form method="POST" action="/provinces/{{province._id}}?_method=PUT" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Tên tỉnh</label>
            <input type="name" class="form-control" value="{{province.name}}" id="name" placeholder="nhap ten tinh"
                name="name" disabled>

        </div>
        <div class="form-group">
            <label for="description">Giới thiệu</label>
            <textarea class="form-control" id="description" placeholder="mo ta" rows="20" cols="100"
                name="description">{{province.description}}</textarea>
        </div>

        <div class="form-group">

            <label for="">Ảnh đại diện</label>
            <input type="file" class="form-control-file" name="imgProvince">
            <div class="col-md-4 ">
                <div class="row">
                    <img src="../../uploads/imgProvinces/{{province.img}}" width="100" height="100" alt="">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>
</div>