<div class="container margin-top">
    <div class="destination-list">
        <div class="row">

            {{#each destinations}}

            <div class="card col-md-6">
                <a href="/destinations/{{this.slug}}">
                    {{#with this.img}}
                    <img src="../../uploads/imgDestinations/{{this.[1]}}" alt="" width="550px"></a>
                {{/with}}

                </a>
                <div class="card-body">

                    <p class="card-title">{{this.name}}</p>

                    <p class="card-text">{{this.area}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
</div>