<div class="container-fluid " id="header">

    <nav class="navbar navbar-expand-lg navbar-light ">
        <a id="logo" href=""><img src="/img/logo1.png" width="343px" height="98px" alt=""></a>
        <a class="navbar-brand" href="/">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Giới thiệu <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/provinces">13 Tỉnh ĐBSCL <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/destinations">Các điểm du lịch </a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        avatar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/provinces/create">Thêm khu vực du lịch</a>
                        <a class="dropdown-item" href="/me/stored/provinces">Các khu vực đã thêm của tôi</a>
                        <a class="dropdown-item" href="/destinations/create">Thêm các điểm du lịch</a>
                        <a class="dropdown-item" href="/me/stored/destinations">Các điểm du lịch đã thêm của tôi</a>
                        <a class="dropdown-item" href="#">Đăng suất</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Đăng ký</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Đăng nhập </a>
                </li>
            </ul>
        </div>
    </nav>

</div>