{{!-- page home --}}
<div class=" slide">
    <div id="text-content">
        <h2 class="text-heading"> mekong delta travel </h2>
        <div class="text-description">
            Thiên đường du lịch
        </div>
    </div>
</div>

{{!-- content section --}}
<div class="container mt-5 ">
    <div class="row">
        <div id="content">
            <div class="content-section">
                <h2 class="section-heading">Những điểm đến tuyệt vời</h2>
                <p class="section-heading-sub mt-2">Hòa mình với vùng đất chín rồng</p>
                <p class="text">
                    Năm 2020 gắn đại dịch Covid 19, người Việt Nam không thể đi du lịch quốc tế và chọn các địa điểm du
                    lịch
                    trong nước làm
                    điểm đến cho bản thân, gia đình, bạn bè. Đồng Bằng Sông Cửu Long có nhiều cảnh đẹp, món ăn ngon và
                    giá rẻ
                    nên được rất
                    nhiều người chọn làm điểm đến hàng đầu.
                </p>
            </div>
        </div>
    </div>
</div>
{{!-- item in destinations --}}
<div class="container col-md-4">

</div>





{{!--
item in destinations --}}
<div class="container mt-5">
    <div class="row">
        <div id="content">
            <div class="content-section">
                <h2 class="section-heading">Những điểm đến tuyệt vời</h2>
                <p class="section-heading-sub mt-2">Hòa mình với vùng đất chín rồng</p>
                <p class="text">
                    Năm 2020 gắn đại dịch Covid 19, người Việt Nam không thể đi du lịch quốc tế và chọn các địa điểm du
                    lịch
                    trong nước làm
                    điểm đến cho bản thân, gia đình, bạn bè. Đồng Bằng Sông Cửu Long có nhiều cảnh đẹp, món ăn ngon và
                    giá rẻ
                    nên được rất
                    nhiều người chọn làm điểm đến hàng đầu.
                </p>
            </div>
        </div>
    </div>
</div>